SHARED_CONFIG_ENV=

SHARED_ADMIN_PHONE_NUMBER=

SHARED_STORAGE_KV_URL=
SHARED_STORAGE_DATABASE_URL=

SHARED_PROVIDER_OPENROUTER_SECRET=

SHARED_PROVIDER_SENDBLUE_PUBLIC=
SHARED_PROVIDER_SENDBLUE_SECRET=
SHARED_PROVIDER_SENDBLUE_SIGNING=
SHARED_PROVIDER_SENDBLUE_NUMBER=

SHARED_PROVIDER_NGROK_URL=
SHARED_PROVIDER_NGROK_SECRET=

API_CONFIG_ENV=
API_CONFIG_PORT=

API_ORIGIN_PRODUCTION=

ADD_TARGET_GITHUB_REPOSITORY=
ADD_ALLOWED_GITHUB_REPOSITORY=
ADD_ALLOWED_DOMAIN_SUFFIXES=

ADD_CURSOR_RUNNER_WEBHOOK_URL=
ADD_CURSOR_RUNNER_TOKEN=
ADD_RUNNER_CALLBACK_SECRET=
ADD_USE_LOCAL_TEST_RUNNER=